{% extends 'BlogApp/base_blog.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Логин - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}
