{% if is_paginated %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_page_url }}" tabindex="-1" aria-disabled="true"><<</a>
            </li>

            {% for n in page_object.paginator.page_range %}
                {% if page_object.number == n %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}&search={{ search }}">{{ n }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}&search={{ search }}">{{ n }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_page_url }}" tabindex="-1" aria-disabled="true">>></a>
            </li>
        </ul>
    </nav>
{% endif %}