<div class="card mb-4">
    <div class="card-header">
        {{ post.creation_date }}
        <span class="card-text" style="float:right;">Комментариев: {{ post.comments.count }}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title"><b>{{ post.title }}</b></h5>
        <p class="card-text">{{ post.content|truncatewords:15 }} . . .</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-light">Читать пост</a>
    </div>
    <div class="card-footer text-muted">
        Теги:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}" class="badge badge-pill badge-info mb-2" style="height: 25px;">
                <span style="font-size: medium">{{ tag.title }}</span>
            </a>
        {% endfor %}
    </div>
</div>