{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>
        {% block title %}
            Блог
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-5 ">
                <a class="nav-link" href="{% url 'vk_posts_url' %}">
                    <img src="{% static 'images/vk.png' %}" width="20px" height="20px"> "ВКонтакте"</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts_list_url' %}">Посты<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tags_list_url' %}">Теги</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-5" action="{% url 'posts_list_url' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-5">
            <!--<li class="nav-link active" style="color: darkturquoise">Вход выполнен: {{ user.username }}</li> -->

            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: darkturquoise">
                    Вход выполнен: {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile_update_url' %}" >Редактировать профиль</a>
                    <a class="dropdown-item" href="{% url 'password_change_url' %}">Изменить пароль</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile_delete_url' %}">Удалить профиль</a>
                    <div class="dropdown-divider"></div>
                    <form id="logoutForm" action="{% url 'user_logout_url' %}" method="post" class="dropdown-item">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-info">Выход</button>
                    </form>
                </div>
            </li>
            <!-- <form id="logoutForm" action="{% url 'user_logout_url' %}" method="post" class="navbar-right mr-3">
          {% csrf_token %}
          <button type="submit" class="btn navbar-btn" style="color: darkturquoise">Выход</button>
        </form>-->
      </ul>
        {% else %}
            <ul class="navbar-nav mr-5">
                <li>
                    <a class="nav-link active" href="{% url 'user_register_url' %}">Регистрация</a>
                </li>
                <li>
                    <a class="nav-link active" href="{% url 'user_login_url' %}">Вход</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

<div class="conteiner mt-3">
    <div class="row">
        <div class="col-7 offset-md-2">
            {% block content %}
                Контент
            {% endblock %}
        </div>
    </div>
</div>

<div class="col-6 offset-md-2">
    {% bootstrap_messages %}
</div>

{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center" align="center">
        <a href="/admin" class="btn btn-outline-info">Администратор</a>
        {% block admin-panel %}{% endblock %}
    </div>
{% endif %}

</body>
</html>