{% extends 'BlogApp/base_blog.html' %}

{% block title %}
    Активация выполнена - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Активация</h2>
    <p>Пользователь успешно активирован.</p>
    <p><a href="{% url 'user_login_url' %}">Войти на сайт</a></p>
{% endblock %}