{% extends 'BlogApp/base_blog.html' %}

{% block title %}
    Ошибка при активации - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Активация</h2>
    <p>Активация пользователя прошла неудачно.</p>
    <p><a href="{% url 'user_register_url' %}">Зарегистрироваться повторно</a></p>
{% endblock %}