{% extends 'BlogApp/base_blog.html' %}
{% load bootstrap4 %}
{% block title %}
    Смена пароля - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Смена пароля пользователя {{ user.username }}</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
{% endblock %}