{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Удаление поста "{{ post.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ post.get_delete_url }}">
        {% csrf_token %}
        <h3>Уверены, что хотите удалить пост <b>"{{ post.title|title }}" ?</b> </h3>
        <a href="{{ post.get_absolute_url }}">Отменить</a>
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
{% endblock %}