{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Редактирование поста "{{ post.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ tag.post_update_url }}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Обновить пост</button>
    </form>
{% endblock %}