﻿{% extends 'BlogApp/base_blog.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <div class="mb-3">
        <a href="{% url 'add_like_url' slug=post.slug %}">
            <img src="{% static 'images/like.jpg' %}" width="25px" height="25px"></a>
        {{ post.like }}
        <a href="{% url 'add_dislike_url' slug=post.slug %}">
            <img src="{% static 'images/dislike.jpg' %}" width="25px" height="25px"></a>
        {{ post.dislike }}
    </div>
    {% bootstrap_messages %}

    <form method="post" action="{% url 'add_comment_url' slug=post.slug %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">Добавить комментарий</button>
    </form>

    <hr>
    {% for comment in post.comments.all %}
        <div class="card mb-4" style="font-size: 14px">
            <div class="card-header py-1 px-2" >
                <b>{{ comment.user }}</b>
                <span class="card-text font-italic" style="float:right;">{{ comment.creation_date }}</span>
            </div>
            <div class="card-body p-2">
                <p class="card-text">{{ comment.text_comment }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}