{% extends 'BlogApp/base_blog.html' %}

{% block title %}
    Профиль пользователя - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Профиль пользователя {{ user.username }}</h2>
    {% if user.first_name and user.last_name %}
        <p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
    {% else %}
        <p>Здравствуйте!</р>
    {% endif %}
{% endblock %}