{% extends 'BlogApp/base_blog.html' %}
{% load bootstrap4 %}
{% block title %}
    Удаление пользователя - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Удаление пользователя</h2>
    <hr>
    <h4 class="my-5 ">Вы уверены, что хотите удалить пользователя <b>{{ object.username }}</b>?</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
{% endblock %}