{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Регистрация  - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <br>
    <p>Регистрация пользователя завершена.</р>
    <p>На указанный Вами адрес электронной почты направлено письмо для активации аккаунта.</р>
{% endblock %}