{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Удаление тега "{{ tag.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ tag.get_delete_url }}">
        {% csrf_token %}
        <h3>Уверены, что хотите удалить тег <b>"{{ tag.title|title }}" ?</b> </h3>
        <a href="{{ tag.get_absolute_url }}">Отменить</a>
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
{% endblock %}