{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">Посты с тегом <span class="badge badge-secondary">{{ tag.title }}</span></h1>
    {% for post in tag.posts.all %}
        {% include 'BlogApp/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}