{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Список тегов - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">Теги</h1>
    {% for tag in tags %}
        <a href="{{ tag.get_absolute_url }}" class="badge badge badge-primary my-2 mr-2" style="height: 25px;">
            <span style="font-size: medium">{{ tag.title }}</span></a>
    {% endfor %}
    {% include 'BlogApp/includes/pagination_template.html' %}
{% endblock %}