{% extends 'BlogApp/base_blog.html' %}
{% load bootstrap4 %}
{% block title %}
    Регистрация - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Регистрация нового пользователя.</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}