{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Регистрация пользователя - {{ block.super }}
{% endblock %}

{% block content %}
    <h3 class="mb-4">Регистрация пользователя</h3>
    <form method="post" action="{% url 'user_create_url' %}">
        {% csrf_token %}
        <table>{{ form }}</table>
        <br>
        <button type="submit" class="btn btn-primary">Создать аккаунт</button>
    </form>
{% endblock %}
