{% extends 'BlogApp/base_blog.html' %}
{% block title %}
    Пользователь уже активирован - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Активация</h2>
    <p>Пользователь с таким именем был активирован ранее.</p>
    <p><a href="{% url 'user_login_url' %}">Войти на сайт</a></p>
{% endblock %}