{% extends 'BlogApp/base_blog.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title %}
    Логин - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Вход</h2>
    {% if user.is_authenticated %}
        <p>Вход выполнен.</р>
    {% else %}
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
