{% extends 'BlogApp/base_blog.html' %}
{% load static %}
{% block title %}
    Посты ВК - {{ block.super }}
{% endblock %}

{% block content %}
    <h3>Популярные посты сообществ "ВКонтакте"</h3>
    <small class="text-muted">Время загрузки данных: {{ dtime }} сек. {{ t1 }}
        <br>
        Ниже приводится итог анализа всех постов за 2019 год в трёх сообществах "ВКонтакте" по программированию.
        Определены три поста-лидера по популярности с максимальным количеством лайков, репостов и просмотров.
        Посты не дублируются, если являются лидерами по двум или трем критериям.</small>
    <br>
    <br>
    {% for group in groups %}
        <div class="card mb-3 border-primary" >
            <div class="row no-gutters">
                <div class="py-3 pl-3">
                    <a href="{{ group.link }}" title="Перейти на страницу сообщества">
                        <img src="{{ group.photo_100 }}" alt="{{ group.name }}"></a>
                </div>
                <div class="col-md-10">
                    <div class="card-body py-3">
                        <h4 class="card-title">
                            <a href="{{ group.link }}" title="Перейти на страницу сообщества" style="text-decoration: none">
                                "{{ group.name }}"</a>
                        </h4>
                        <p class="card-text">{{ group.description }}</p>
                        {% for best_post in group.best_posts %}
                            <div class="card mb-3" >
                                <div class="card-header p-1" >
                                    <img src="{% static 'images/like.jpg' %}" width="25px" height="25px">
                                    {{ best_post.likes.count }}
                                    <img src="{% static 'images/repost.jpg' %}" width="25px" height="25px">
                                    {{ best_post.reposts.count }}
                                    <img src="{% static 'images/views.jpg' %}" width="25px" height="25px">
                                    {{ best_post.views.count }}
                                    <small class="text-muted" style="float:right;">{{ best_post.date }}</small>
                                </div>
                                <div class="card-body p-2">
                                    {% if best_post.text != '' %}
                                        <p class="card-text">{{ best_post.text|truncatewords:15 }}
                                            <a href="{{ best_post.link }}">
                                                <span class="font-italic" style="font-size: 14px">--> читать пост на сайте "ВКонтакте"</span></a></p>
                                    {% else %}
                                        <p class="card-text"><span class="font-italic">-Пост без текстового описания-</span>
                                            <a href="{{ best_post.link }}">
                                                <span class="font-italic" style="font-size: 14px">--> читать пост на сайте "ВКонтакте"</span></a></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}